---
session_name: remote
windows:
  - window_name: NS
    panes:
      - shell_command:
        - ssh -q ns01.infranet.co
  - window_name: Avc
    start_directory: "~/gitlab/ansible-vm-config"
    panes:
      - shell_command:
        - source ~/gitlab/ansible-vm-config/venv/bin/activate
  - window_name: Fc
    start_directory: "~/gitlab/frontends-configs"
    panes:
      - shell_command:
        - source ~/gitlab/ansible-vm-config/venv/bin/activate
